<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TweetAir</title>
    <script src="js/jquery.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <style>
        #content {
            width: 30%;
            height: 100%;
            float: left;
            text-align: center;
            overflow-y: scroll;
        }

        #map {
            display: block;
            width: 70%;
            height: 100%;
        }

        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: 'Roboto', sans-serif;
        }

        .subtitle {
            font-weight: 300;
        }

        .small {
            font-size: 16px;
        }
    </style>
</head>

<body>
    <div id="content">

        <div id="titles">
            <h1 class="title">TweetAir</h1>
            <h3 class="subtitle">TweetAir is an all-in-one air quality web app.</h3>
            <h3 class="subtitle small">Check the air quality in your city by entering your zip code.</h3>
            <div id="city">
                <input placeholder="Enter the name of a place, zip code, etc." id="input">
                <button onclick="formSubmit()">Check</button>
            </div>
            <div id="tweets">
                <blockquote class="twitter-tweet">
                    <p lang="en" dir="ltr">
                        Kanye and Kim hiring private fire fighters to protect their mansion.

                        The State of California paying prisoners $1 an hour to fight the wildfires.

                        Migrant workers in the fields, continuing to pick produce, as the fires spread and air quality declines.

                        A neoliberal dystopia.
                    </p>
                    <a href="https://twitter.com/_SimonBlack/status/1063543999812837382">November 18, 2018</a>
                </blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

        </div>


    </div>
    <div id="map"></div>
    <script src="js/poll.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbeNz1g3SRPbcboyQ75mOndodTgqwKab8&libraries=visualization&callback=initMap"
        async defer>
        </script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

</body>

</html>